
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link"  href="/admin/loans/list" >
                <i class="mdi mdi-wrench menu-icon"></i>
                <span class="menu-title">Manage Loans</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/admin/loans/list" >
                <i class="mdi mdi-wrench menu-icon"></i>
                <span class="menu-title">Manage Bids</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/admin/loans/stats" >
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">Statistics</span>
            </a>
        </li>
    </ul>
</nav>