<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
<h1>Bonjour !</h1>

<p>Pour réinitialiser votre mot de passe, merci de vous rendre sur le lien suivant</p>

<a href="{{ url('app_reset_password', { token: resetToken.token }) }}"> {{ url('app_reset_password', { token: resetToken.token }) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>A bientôt !</p>
</body>
</html>
