{% extends 'base.html.twig' %}

{% block title %}Create loan{% endblock %}


{% block navigation %}
<!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/loans/list">
              <i class="typcn typcn-device-desktop menu-icon"></i>
              <span class="menu-title">Find a loan</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/loans/create">
              <i class="typcn typcn-mortar-board menu-icon"></i>
              <span class="menu-title">Request Loan</span>
            </a>
          </li>
        </ul>
      </nav>
{% endblock %}

{% block body %}

        <div class="card">
            <div class="card-body">
                    {{ form(form) }}
            </div>
        </div>
{% endblock %}
