{% extends 'base.html.twig' %}

{% block title %}My Automations{% endblock %}

{% block navigation %}
{{ include('loans/_loanNavMenu.html.twig')}}
{% endblock %}

{% block body %}

<div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">My Automations</h4>

        </div>
    </div>
</div>

{% endblock %}
