
{% if status.value == "IN_BIDDING" %}
    <label class="badge badge-info">In Bidding</label>
{% elseif status.value == "PAID" %}
    <label class="badge badge-success">Complete</label>
{% else %}
    <label class="badge badge-warning">Active</label>
{% endif %}