{% extends 'base.html.twig' %}

{% block title %}Place Bid{% endblock %}

{% block navigation %}
{{ include('loans/admin/_navMenu.html.twig')}}
{% endblock %}

{% block body %}

<div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Place a Bid</h4>
            {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}
